<my-menu></my-menu>
<div class="col-md-12" data-ng-controller="MainCtrl as main">
    <div class="col-md-8 col-md-offset-2">
    <p class="alert-success" data-ng-show="isLoggedIn">Du är inloggad</p>
    <p class="alert-danger" data-ng-show="!isLoggedIn">Du är inte inloggad</p>
    <p class="alert-success" data-ng-show="message">{{message}}</p>

    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Aktivitet <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="tag in main.tags"><a href="" ng-click="main.filterTag(tag.id)">{{tag.name}}</a></li>
                    <li><a href="" ng-click="main.getAllEvents()">Alla händelser</a></li>
                </ul>
        </div>
        <input type="text" class="form-control col-md-3" placeholder="Filtrera aktivitet..." ng-model="search">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Användare <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-ng-repeat="creator in main.creators"><a href="" ng-click="main.filterCreator(creator.id)">{{creator.name}}</a></li>
                <li><a href="" ng-click="main.getAllEvents()">Alla händelser</a></li>
            </ul>
        </div>
    </div>

    <h3>Sök eller skapa nya aktiviteter</h3>
    <p ng-show="error" class="alert-danger">{{ error }}</p>
    <a class="btn btn-primary" href="#/create" ng-show="isLoggedIn">Skapa</a>
    <div id="list">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Namn</th>
                </tr>
            </thead>
            <tr data-ng-repeat="event in main.events | filter:search">
                <td>{{event.title}}</td>
                <td><button class="btn btn-primary" ng-show="main.checkUser(event.creator.name) && isLoggedIn" type="button" ng-click="main.removeEvent(event.id)">Ta bort</button> </td>
                <td><a class="btn btn-primary" href="#/update/{{event.id}}" ng-show="main.checkUser(event.creator.name) && isLoggedIn">Uppdatera</a></td>
                <td><a class="btn btn-primary" href="#/detail/{{event.id}}">Information</a></td>
            </tr>
        </table>
    </div>
    </div>
</div>