<div class="col-md-4" data-ng-controller="MainCtrl as main">
    <p class="alert-success" data-ng-show="isLoggedIn">Du är inloggad</p>
    <p class="alert-danger" data-ng-show="!isLoggedIn">Du är inte inloggad</p>

    <h3>Alla events</h3>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Namn</th>
            </tr>
        </thead>
        <tr data-ng-repeat="event in main.events">
            <td>{{event.description}}</td>
            <td><button ng-show="isLoggedIn" type="button" ng-click="main.removeEvent(event.id)">Ta bort</button> </td>
        </tr>
    </table>
</div>